    
        .thdrcell
        {
            background: #E0F8E0;
            font-family: arial;
            font-size: 12px;
            font-weight: normal;
            padding: 5px;
            border-bottom: 1px solid #E6E6E6;
        }
        .tdatacell
        {
            font-family: arial;
            font-size: 12px;
            padding: 5px;
            background: #FFFFFF;
        }
        .dvhdr1
        {
            background: #E0F8E0;
            font-family: Verdana;
            color:Black;
            font-size: 11px;
            font-weight: normal;
            border: 1px solid #E6E6E6;
            padding: 5px;
            width: 250px;
            background-color:#F7FE2E;
        }
        .dvbdy1
        {
            background: #FFFFFF;
               color:Black;
            font-family: Verdana;
            font-size: 11px;
            border-left: 1px solid #E6E6E6;
            border-right: 1px solid #E6E6E6;
            border-bottom: 1px solid #E6E6E6;
            padding: 5px;
            width: 250px;
            background-color:#F7FE2E;
        }
        p
        {
            margin-top: 20px;
        }
        h1
        {
            font-size: 13px;
        }
        .dogvdvhdr
        {
            width: 300;
            background: #C4D5E3;
            border: 1px solid #E6E6E6;
            font-weight: bold;
            padding: 10px;
        }
        .dogvdvbdy
        {
            width: 300;
            background: #FFFFFF;
            border-left: 1px solid #E6E6E6;
            border-right: 1px solid #E6E6E6;
            border-bottom: 1px solid #E6E6E6;
            padding: 10px;
        }
        .pgdiv
        {
            width: 320;
            height: 250;
            background: #E9EFF4;
            border: 1px solid #E6E6E6;
            padding: 10px;
            margin-bottom: 20;
            font-family: arial;
            font-size: 12px;
        }
   
 
