/*------------------------------GENERAL STYLE--------------------------------------*/
body
{
    font-family: Tahoma ,Tahoma, Sans-Serif;
}
h4
{
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 0 5px;
}
button
{
    height: 20px;
    font-family: Tahoma;
    letter-spacing: normal;
    font-size: 10px;
    border: 1px solid gray;
}
input
{
    font-size: 12px;
    font-family: Tahoma;    
}
select
{
    min-height: 21px;
    font-family: Tahoma;
    font-size: 12px;
}
/*------------------------------PAGE/POPUPS/CONTROLS/GRADIENTS/TOOL TIPS STYLE--------------------------------------*/

.page-title
{
    border: 1px solid #cccccc;
    height: 20px;
    vertical-align: bottom;
    background: url(/JIBE/Images/grid-header-gray.png) left -10px repeat-x;
    
    color: Black;
    text-align: left;
    padding: 2px;
    background-color: #F6CEE3;
    text-align: center;
    font-weight: bold;
}

.page-content-main
{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    margin-top: -1px;
    min-height:600px;
}
.page-content
{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    margin-top: -1px;
}
.button-css
{
    height: 20px;
    font-family: Tahoma;
    letter-spacing: normal;
    font-size: 10px;
    border-style: none;
}
.textbox-css
{
    font-size: 10px;
    font-family: Tahoma;
}
.dropdown-css
{
    font-size: 11px;
    font-family: Tahoma;
    background-color: White;
}
.select-css
{
    position: relative;
    top: 25px;
    height: 25px;
    vertical-align: bottom;
    font-size: 12px;
}
.radio-css
{
    color: Green;
}
.checkbox-css
{
    color: Green;
}
.listbox-css
{
    color: Green;
    border-style: solid;
    border-color: Green;
    border-width: 1px;
}
.label-css
{
    color: Black;
    font-size: 13px;
    font-family: Tahoma;
}

.popup-css
{
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#CBE1EF',EndColorStr='#8fb9cc');
    background: -webkit-gradient(linear, left top, left bottom, from(#e9eff2), to(#8fb9cc));
    background: -moz-linear-gradient(top,  #e9eff2,  #8fb9cc);
    color: Black;
}

.Paging-link-nav
{
    border: 1px solid gray;
    text-decoration: none;
}

/*------------------------------GRID STYLE--------------------------------------*/
.GridView-css
{
    font-size: 11px;
    background-color: White;
    border: 1px solid Gray;
}
.HeaderStyle-css
{
    border-bottom: 1px solid #cccccc;    
    background-color: #4A3C8C;
    font-weight: bold;
    color: #E7E7FF;
}
.HeaderStyle-css th
{
    /*border: 0px solid #959EAF;     border-collapse: collapse;*/
}
.HeaderStyle-css a
{
    color: #E7E7FF;
}
.AlternatingRowStyle-css
{
    background-color: #F2F2F2;
    color: Black;
}
.AlternatingRowStyle-css td
{
    border-bottom: 1px solid #EAEAEA;
}
.RowStyle-css
{
    color: Black;
    background-color: #fff;
}
.RowStyle-css td
{
    border-bottom: 1px solid #EAEAEA;
}
.EditRowStyle-css
{
    background-color: #58FA82;
}
.EditRowStyle-css td
{
    border-bottom: 1px solid #EAEAEA;
}
.FooterStyle-css
{
    background: url(/JIBE/STYLES/Images/gridheaderbg-image.png) left -15px repeat-x;
    background-color: #5D7B9D;
    font-weight: normal;
    font-size: 11px;
    color: White; /*ForeColor:White;*/
    border: 1px solid #959EAF;
}
.SelectedRowStyle-Css
{
    color: White;
    background-color: #9471DE;
    font-weight: bold;
}

.SelectedRowStyle-Css td
{
    color: White;
    background-color: #9471DE;
    font-weight: bold;
}

.EmptyDataRowStyle
{
}

.SortedAscendingCellStyle-css
{
    background-color: #F1F1F1;
}
.SortedAscendingHeaderStyle-css
{
    background-color: #594B9C;
}
.SortedDescendingCellStyle-css
{
    background-color: #CAC9C9;
}
.SortedDescendingHeaderStyle
{
    background-color: #33276A;
}

/* ---------------------------------------------------- E-FORMS ----------------------------------*/
.eform-report-header
{
    font-weight:bold;
    font-size:16px;
    text-align:center;
    color:Black;            
}
.eform-report-sub-header
{
    font-weight:bold;
    font-size:14px;
    padding:4px;
    text-align:center;
    background-color:#cccccc;
}
.eform-header-row
{
    font-weight:bold;
    font-size:12px;
    background-color:#efefef;
    text-align:center;
}    
.eform-field-caption
{
    font-weight:bold;
    font-size:12px;
}    
.eform-field-data
{
    font-weight:normal;
    font-size:12px;
    padding:4px;            
    background-color:#FAF8CC;
}    
.eform-report-table
{
            
}
