<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="TRV_UPLOAD_PATH" value="Uploads\Travel\" />
    <add key="APP_NAME" value="jibe" />
    <add key="UploadPath" value="Uploads"/>
    <add key="APP_URL" value="http://pc-maneesh/JIBEAPP/"/>
    <add key="QMS_SERVER_PATH" value="PC-BIKASH" />
    <add key="WebQuotSite" value="http://pc-maneesh/SMSLog" />
    <add key="SupplierSite" value="http://pc-maneesh/SMSLog" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="INVFolderPath" value="http://pc-maneesh/smslog/" />
    <add key="DeliveryURL" value="http://pc-maneesh" />
    <add key="AttachURL" value="C:\SMSLog\SMSLog\Uploads\Purchase\" />
    <add key="PURC_UPLOAD_PATH" value="uploads\\Purchase" />
    <add key="GoogleAPIKey" value="ABQIAAAAujq_pyYh1F1G_wge9oTRIhQem8arEvwKe52dSyUNv06iGfyspBQvWguRf1vH9U7lPT4r_BlGerwhZw" />
    <add key="Company_ID" value="1" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="QMSDBPath" value="smslog/uploads/QMSDB" />
    <add key="TRV_PO_NETWORK_PATH"  value="\\server01\smslog\Uploads\Travel\"/>


    <add key="FAQAttachmentPath" value="smslog/uploads/FAQ"/>
    <add key="LMS_FAQ_UPLOAD_PATH" value="Uploads\FAQ\"/>
    <add key="Training_List_Path" value="Uploads\TrainingItems\"/>
    <add key="Training_List_Path" value="Uploads\FaqListItem\"/>

  </appSettings>
  <connectionStrings>
    
    <add name="smsconn" connectionString="Data Source=DEVSERVER\jibesqlserver;database=jibe_main;uid=sa;pwd=jibe!234;Max Pool Size=200;" />
    
    <add name="demoasp" connectionString="Data Source=devserver;database=SMS;uid=sa;pwd=umms!234" />

  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="1024000000" executionTimeout="8000" />

    <webParts>
      <personalization defaultProvider="Dataprovider">
        <providers>
          <add name="Dataprovider" connectionStringName="smsconn" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" />
        </providers>
      </personalization>
    </webParts>
    <globalization culture="en-GB" />
    <pages controlRenderingCompatibilityVersion="3.5" theme="skinfile" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit,Version=3.0.30930.28736, Culture=neutral"  />
        <add tagPrefix="auc" namespace="System.Web.UI.WebControls.CustomWebParts" assembly="SMS.Business.LIB,Version=1.0.0.0"  />
        
       
        <add tagPrefix="tlk4" namespace="AjaxControlToolkit4" assembly="AjaxControlToolkit4,Version=4.1.60919.0, Culture=neutral"  />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="auc" src="~/UserControl/ucCustomDropDownList.ascx" tagName="CustomDropDownList" />
        <add tagPrefix="auc" src="~/UserControl/ucCustomNumberFilter.ascx" tagName="CustomNumberFilter" />
        <add tagPrefix="auc" src="~/UserControl/ucCustomStringFilter.ascx" tagName="CustomStringFilter" />
        <add tagPrefix="auc" src="~/UserControl/ucCustomDateFilter.ascx" tagName="CustomDateFilter" />
        <add tagPrefix="auc" src="~/UserControl/uc_Report_Issue.ascx" tagName="ReportIssue"/>
        <add tagPrefix="auc" src="~/UserControl/ucCustomPager.ascx" tagName="CustomPager" />
        <add tagPrefix="auc" src="~/UserControl/CustomAsyncDropDownList.ascx" tagName="CustomAsyncDropDownList" />


      </controls>
    </pages>
    <customErrors mode="Off">
    </customErrors>
    <compilation debug="true" batchTimeout="900" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl="crew/default.aspx"   />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <sessionState timeout="600" useHostingIdentity="false" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>

    <handlers>
      <remove name="StaticFile" />
      <remove name="ChartImageHandler" />
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit4.AjaxFileUploadHandler, AjaxControlToolkit4"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Read" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Uploads/Purchase">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="webqtn/SupplierLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Purchase/POReport.rpt">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PopCalendar2008">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Travel/Evaluation_view.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="travel/TravelRequest_Approve_Mobile.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>



  <location path="Uploads/FAQ">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Uploads/TrainingItems">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="Account/ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" host="66.46.182.50" password="seachange2103" port="587" userName="smslog@seachange-maritime.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <services>
      <service name="SMS.WCFMobileService.Vessel"  behaviorConfiguration="ServBehv">
        <endpoint address="get" binding="wsHttpBinding" contract="SMS.WCFMobileService.IService" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restBehv" contract="SMS.WCFMobileService.IService" >

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/SMS.WCFMobileService/Service/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="JiBEWCFService.Service"  behaviorConfiguration="ServBehv">
        <endpoint address="" binding="wsHttpBinding"  bindingConfiguration="JIBEWSHttpBinding_IService"  contract="JiBEWCFService.IService" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehv">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehv">
          <webHttp helpEnabled="true"></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="JIBEWSHttpBinding_IService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
                 sendTimeout="00:10:00" bypassProxyOnLocal="false"
                 transactionFlow="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 useDefaultWebProxy="true"
                 allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="false" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/JiBEWindowService/Service/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
        contract="JiBEService.IService" name="WSHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
