<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="InspectionAttachmentPath" value="c:\temp" />-->
    <add key="InspectionAttachmentPath" value="C:\Development\JIBEV1.0\APP\JIBE\JIBE\Uploads\Inspection" />
    <add key="WorkListAttachmentPath" value="C:\Development\JIBEV1.0\APP\JIBE\JIBE\Uploads\Technical" />
    <add key="CrewFeedbackAudioAttachmentPath" value="C:\Development\JIBEV1.0\APP\JIBE\JIBE\Uploads\Crew" />
    <add key="CrewProfilePicPath" value="C:\Development\JIBEV1.0\APP\JIBE\JIBE\Uploads\CrewImages" />
    <add key="ServiceData" value="C:\Development\JIBEV1.0\APP\JIBE\JIBE\Uploads\ServiceData" />
    
  </appSettings>
  <connectionStrings>

    <!--<add name="smsconn" connectionString="Data Source=DEVSERVER\jibesqlserver;database=jibe_main;uid=sa;pwd=jibe!234;Max Pool Size=200;" />-->
    <!--<add name="smsconn" connectionString="Data Source=DEVSERVER\jibesqlserver;database=jibe_classnk;uid=Dev2;pwd=jibe@104;Max Pool Size=200;" />-->
    <add name="smsconn" connectionString="Data Source=DEVSERVER\jibesqlserver;database=JIBE_Main;uid=Dev2;pwd=jibe@104;Max Pool Size=200;" />

    <!--<add name="smsconn" connectionString="Data Source=DEVSERVER;database=Seachange_21stApril;uid=Dev10;pwd=jibe@118;Max Pool Size=200;" />-->
    <!--<add name="smsconn" connectionString="Data Source=TFSSERVER;database=JIBE;uid=Dev10;pwd=jibe@118;Max Pool Size=200;" />-->
    
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>

  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->

  <!--<system.serviceModel>
   
    <services>
      <service name="SMS.WCFMobileService.JiBEService" >
        <endpoint address="" binding="basicHttpBinding" contract="SMS.WCFMobileService.iJiBEService" bindingConfiguration="WSHttpBinding_IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/SMS.WCFMobileService/Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="WSHttpBinding_IService" closeTimeout="00:40:00"
				openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
				bypassProxyOnLocal="false" transferMode="Streamed" hostNameComparisonMode="StrongWildcard"
				maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom"
				textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
					maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
						realm="" />

          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment --><!--
          <serviceMetadata httpGetEnabled="True"/>
          --><!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->

  <system.serviceModel>
    <services>
      <service name="SMS.WCFMobileService.JiBEService"  behaviorConfiguration="ServBehv"   >
        <endpoint address="get" binding="wsHttpBinding" contract="SMS.WCFMobileService.iJiBEService" bindingConfiguration="WSHttpBinding_IService" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restBehv" contract="SMS.WCFMobileService.iJiBEService" bindingConfiguration="webHttpBinding_IService">

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/SMS.WCFMobileService/Service/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehv">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehv">
          <webHttp helpEnabled="true"></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding_IService" closeTimeout="00:40:00"
						openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
						
						maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
							  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
									realm="" />

          </security>
        </binding>
       
      </webHttpBinding>

      <wsHttpBinding>

        <binding name="WSHttpBinding_IService" closeTimeout="00:40:00"
						openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
						
						maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
							  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
									realm="" />

          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
